.header{
    width: 100%;
    grid-column: 1/ 5 ;
    justify-content: space-around;
    

}

.viewcontainer{    
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 1fr 1fr 100px;
    justify-content: center
    
}

.viewwrapper{
    
    justify-content: center;
    align-items: center;

}


.viewmain{
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    
}

.QnAComment{
    grid-column: 2;
    grid-row: 3;
}

.Footer {    
    grid-column: 1/6; 
    grid-row: 5;  
   
}
